 /* Master styles */ 
body { margin: 0px;
  }


  .container {
            display: grid;
            grid-template-columns: 1fr;
} 
 
 /* Nav styles */
.nav-wrapper { display: flex;
               justify-content: space-between;
               padding: 10px;
} 
.left-side {
display: flex;
height: 0%;
}

.right-side {
display: flex;
}   

.nav-wrapper > .left-side > div {
  margin-right: -15px;
  font-size: 0.9em;
  text-transform: uppercase;
  margin-left: 65px;
  }

.nav-link-wrapper {
  height: 20px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.9s;
  }

.nav-link-wrapper a {
    color: #888888;
    text-decoration: none;
    transition: color 0.5s;
    }
    
.nav-link-wrapper:hover {
      border-bottom: 1px solid white;
      }
      
.nav-link-wrapper a:hover {
      color: white;
      }


.nav-wrapper > .right-side > div {
margin-right: 65px;
font-size: 0.9em;
text-transform: uppercase;
}


/* Math-face styles */

.MATH-FACE-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
} 

.MATH-FACE-item-wrapper {
  position: relative;
}

.MATH-FACE-img-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.lego-wrapper img {
  widows: 50px;
  margin-bottom:20px;
}

.img-text-wrapper .subtitle{
  transition: 1s;
  font-weight: 600s;
  color: transparent;
}

.img-text-wrapper:hover .subtitle {
  font-weight: 600;
  color: lightseagreen;
}
 
.img-darken {
  transition: 1s;
  filter:brightness(10%)
}
 
.img-text-wrapper {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;

}
  #body1 {  background-color:white;
    width: 1519px;
    height: 150px;
    margin: 0px;
    padding: 0px;
  } 

  #body2 {  background-color:#333333;
    width: 1519px;
    height: 35px;
    margin: 0px;
    padding: 0px;
  } 


#logo { width: 300px;
    height: 134px;
    margin: 6px 10px 10px 160px;
  } 

#bimage { width: 370px;
      height: 50px;
      margin-top: -70px;
      margin-left: 1149px;
      margin-bottom: 45px;
}
